
body {
  font-size: 120%;
 background-image: url("../img/login.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    
}



